// palette colori 

$main-bg: rgb(49, 51, 56);
$secondary-bg: rgb(35, 36, 40);

$pink-1: rgb(245, 190, 190);
$pink-2: rgb(253, 170, 170);
$pink-3: rgb(235, 129, 133);
$pink-4: rgb(255, 88, 138);
$pink-5: rgb(245, 62, 69)